<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Portfolio | Essid Ahlem</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- <link rel="manifest" href="site.webmanifest"> -->
   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/font-awesome.min.css">
   <link rel="stylesheet" href="css/themify-icons.css">
   <link rel="stylesheet" href="css/nice-select.css">
   <link rel="stylesheet" href="css/flaticon.css">
   <link rel="stylesheet" href="css/gijgo.css">
   <link rel="stylesheet" href="css/animate.min.css">
   <link rel="stylesheet" href="css/slicknav.css">
   <link rel="stylesheet" href="css/style.css">
   <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body id="body" class="darkmode">
   <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
         <div class="header-area ">
             <div id="sticky-header" class="main-header-area">
                 <div class="container-fluid">
                     <div class="row align-items-center">
                         <div class="col-xl-3 col-lg-2">
                             <div class="logo">
                                 <a href="index.html">
                                     <img src="img/logo.png" alt="">
                                 </a>
                             </div>
                         </div>
                         <div class="col-xl-6 col-lg-7">
                             <div class="main-menu  d-none d-lg-block">
                                 <nav>
                                     <ul id="navigation">
                                         <li><a class="active" href="index.html">Accueil</a></li>
                                         <li><a href="about.html">A propos</a></li>
                                         <li><a href="services.html">Services</a></li>
                                         <li><a href="#">Blog <i class="ti-angle-down"></i></a>
                                             <ul class="submenu">
                                               <li><a href="blog.html">News</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Pages <i class="ti-angle-down"></i></a>
                                             <ul class="submenu">
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="projets.html">Projets</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="contact.html">Contact</a></li>
                                     </ul>
                                 </nav>
                             </div>
                         </div>
                         <!-- Language -->

                         <!-- <div class="default-select" id="default-select">
                           <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                 <select class="text-lang-color">
                                   <option value="1">Français</option>
                             <option value="2">Nederlands</option>
                             <option value="3">English</option>
                             <option value="4">العربية</option>
                             <option value="5">Spanish</option>
                             </select>
                               </div>
                           </div> -->
                           <!-- End Language -->
                           <!-- Switch-->
                          <div class="col-lg-3 col-md-4 mt-sm-30">
                           <div class="single-element-widget">
                             <div class="switch-wrap d-flex justify-content-between">
                               <div class="primary-radio">
                                 <input type="checkbox" id="default-radio" class="darkMode" checked >
                                 <label for="default-radio">
                                   <button type="button" name="light_dark" onclick="toggleLightDark()" title="Eclaicir mon champs de vision !" class="mode">
                                        <img src="img/svg_icon/torch.svg" width= 25px height= 25px alt="#" class="on">
                                   </button>
                                 </label>
                               </div>
                             </div>
                           </div>
                           <div>
                             <img src="img/svg_icon/arrow.png" alt="" class="arrow_left"><span class="click_here">Click here !</span></p>
                           </div>
                         </div>
                           <!--End Switch-->
                         <!--<div class="col-xl-3 col-lg-3 d-none d-lg-block">
                             <div class="Appointment">
                                 <div class="book_btn d-none d-lg-block">
                                     <a  href="#">Contact Me</a>
                                 </div>
                             </div>
                         </div> -->
                         <div class="col-12">
                             <div class="mobile_menu d-block d-lg-none"></div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </header>
     <!-- header-end -->

     <!-- bradcam_area  -->
     <div class="bradcam_area bradcam_bg_1">
         <div class="container">
             <div class="row">
                 <div class="col-xl-12">
                     <div class="bradcam_text text-center">
                         <h3>Conception éthique</h3>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_7.png" alt="">
                  </div>
                  <div class="blog_details">
                     <h2>Trouver une conception éthique</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="https://material.io/blog/finding-ethical-design"><i class="fa fa-user"></i> Visual, Material Design</a></li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i> 0 Commentaires</a></li> -->
                     </ul>
                     <p class="excert">
                       Cette approche expansive du design - et l'impact d'un designer - se reflète dans le thème sombre de Material , une interface à faible luminosité sur laquelle j'ai travaillé qui affiche principalement des surfaces sombres pour prendre en charge l'utilisation de l'écran dans les environnements sombres. <br>
                       Un autre exemple peut être vu dans les explorations de l'équipe sur le bien - être numérique , un projet qui prend le bien-être physique et mental comme une exigence centrale pour les expériences numériques. <br>
                       <br>
                       En regardant en arrière sur ces projets, je peux voir qu'ils ont été enrichis par l'éthique du design - les principes moraux qui régissent les décisions et les objectifs d'un designer. <br>
                       Lorsque j'ai travaillé sur le thème sombre de Material et les projets de bien-être numérique, je n'avais pas le vocabulaire, les connaissances ou la perspective pour articuler les opportunités et les tensions éthiques dans le travail. <br>
                       <br>
                       Ce n'est que lorsque j'ai consacré du temps à acquérir de manière indépendante une compréhension plus approfondie de l'éthique du design que j'ai pu reconnaître et répondre à la responsabilité sociale du design. <br>

                       J'ai ralenti pour comprendre mon rôle de designer. J'ai commencé à considérer mes contributions non pas comme un ensemble de tâches et de délais, mais comme une extension de mon rôle social plus large. <br>
                       Travailler sur le système de conception de Material, j'ai réalisé, c'est participer simultanément à un système beaucoup plus vaste. <br>
                       <br>

                       Chaque designer définit son rôle différemment, souvent en fonction du type de travail qu'il effectue, comment il le fait et pour qui il le fait. <br>
                       Mais, quelle que soit la manière dont un designer comprend son rôle, les impacts sociaux et culturels de l'œuvre sont inévitables. <br>
                       Cela signifie que nous devons faire de la place dans la définition du travail d'un designer pour inclure des pratiques responsables qui tiennent compte de notre impact. <br>
                     </p>

                     <div class="quote-wrapper">
                        <div class="quotes">
                          <p>
                            <i>Faire un choix</i> <br>
                            La chose la plus importante que j'ai apprise sur l'éthique du design est que ce que je choisis de faire ou de ne pas faire est une déclaration de mon éthique. <br>
                            Un choix est un rappel que les décisions percutantes doivent être prises avec une profonde conscience. <br>
                            Certains des choix qui se produisent tout au long du processus de conception comprennent: <br>
                            <br>
                            Comprendre activement les problèmes dans le contexte plus large d'une société en constante évolution <br>
                            Demander pourquoi quelque chose est comme ça <br>
                            Comprendre le contexte original d'une «meilleure pratique» et la reconnaître peut ne pas s'appliquer dans un nouveau contexte <br>
                            Considérer toute personne ou tout lieu qu'un projet peut affecter comme partie prenante <br>
                            Ne pas déclasser les divers besoins humains ou environnementaux comme des cas extrêmes indignes d'attention ou d'investissement <br>
                            Eviter de renforcer les normes établies à travers les récits culturels dominants <br>
                          <p>
                        </div>
                     </div>
                     <p>
                       <i>Espace pour apprendre</i> <br>
                       <br>
                       Faire du temps et de l'espace pour apprendre et appliquer la pensée éthique est optimiste. <br>
                       Il est rarement prévu dans les délais des projets et est largement absent de la formation en design. Il est peu probable que quelqu'un vous demande de lire et de réfléchir à l'éthique, ce qui place la responsabilité d'apprendre sur les concepteurs individuels. <br>
                       Plus j'apprends, plus je ressens d'humilité. En élargissant notre exposition à la pensée éthique, nous pouvons mieux comprendre qui nous sommes, ce que nous pourrions et devrions faire et pourquoi nous faisons les choses que nous faisons. <br>
                       <br>
                       Avec cette conscience de soi, nous sommes dans un bien meilleur endroit pour comprendre où nous pouvons être le plus efficace dans la conception. <br>
                       Il n'y a pas de moyen unique d'appliquer l'éthique à une pratique de conception; peut-être que la seule règle est de regarder constamment vers l'avenir ainsi que vers le passé lors de la conception. <br>
                       Nos décisions sont éclairées par le passé; et parce que nos décisions ont un impact, elles éclairent également des futurs qui méritent d'être anticipés de manière proactive. <br>
                       L'évaluation des héritages et l'anticipation des résultats des travaux de conception peuvent entraîner des changements significatifs du statu quo et peuvent être un acte d'espoir.
                     <p>
                     </p>
                     </p>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul> -->
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="#">
                                 <img class="img-fluid" src="img/post/preview.png" alt="">
                              </a>
                           </div>
                           <!-- <div class="arrow">
                              <a href="#">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Précédent</p>
                              <a href="#">
                                 <h4></h4>
                              </a>
                           </div> -->
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Suivant</p>
                              <a href="selfies.html">
                                 <h4>Selfies et filtres</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="selfies.html">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="selfies.html">
                                 <img class="img-fluid" src="img/post/button_selfies.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author_1.png" alt="https://thecreativeindependent.com/people/cortney-cassidy/">
                     <div class="media-body">
                        <a href="https://thecreativeindependent.com/people/cortney-cassidy/">
                           <h4>Cortney Cassidy</h4>
                        </a>
                     </div>
                  </div>
               </div>

               <!-- <div class="comments-area">
                  <h4>0 Commentaires</h4>
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_2.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_3.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- <div class="comment-form">
                  <h4>Vous souhaitez commenter ? Exprimez-vous !</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Ecrire un commentaire"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Nom">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                         <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Site web">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Envoyer</button>
                     </div>
                  </form>
               </div> -->
            </div>

            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <!-- <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Rechercher un mot clé'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Rechercher un mot clé'">
                              <div class="input-group-append">
                                 <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Rechercher</button>
                     </form>
                  </aside> -->

                  <!-- Categories -->

                  <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Categories</h4>
                      <ul class="list cat-list">
                          <li>
                              <a href="blog.html" class="d-flex">
                                  <p>Psychologie</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="logo.html" class="d-flex">
                                  <p>UI Design</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="blog_1.html" class="d-flex">
                                  <p>UX Design</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="animation.html" class="d-flex">
                                  <p>Animation</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="jeux-video.html" class="d-flex">
                                  <p>Technologie</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="gazelle_lumineuse.html" class="d-flex">
                                  <p>Photoshop</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="todzilla.html" class="d-flex">
                                  <p>Illustrator</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="xabia.html" class="d-flex">
                                  <p>Adobe XD</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="piccolo.html" class="d-flex">
                                  <p>HTML</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="framework_css.html" class="d-flex">
                                  <p>CSS</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="ajax.html" class="d-flex">
                                  <p>Vanilla JS</p>
                                  <p></p>
                              </a>
                          </li>
                      </ul>
                  </aside>

                  <!-- Posts  -->

                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Posts Récents</h3>
                     <div class="media post_item">
                        <img src="img/post/post_14.png" alt="post">
                        <div class="media-body">
                           <a href="tigre.html">
                              <h3>Tigre</h3>
                           </a>
                           <p>Janvier 15, 2021</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_13.png" alt="post">
                        <div class="media-body">
                           <a href="gazelle_lumineuse.html">
                              <h3>Gazelle lumineuse</h3>
                           </a>
                           <p>Décembre 22, 2020</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="bien-etre-numerique.html">
                              <h3>Conception éthique</h3>
                           </a>
                           <p>Décembre 16, 2020</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="selfies.html">
                              <h3>Les filtres et selfies</h3>
                           </a>
                           <p>Octobre 1, 2020</p>
                        </div>
                     </div>
                  </aside>

                  <!-- Tags -->

                  <aside class="single_sidebar_widget tag_cloud_widget">
                      <h4 class="widget_title">Tags</h4>
                      <ul class="list">
                          <li>
                              <a href="conception.html">Visual</a>
                          </li>
                          <li>
                              <a href="selfies.html">Selfies</a>
                          </li>
                          <li>
                              <a href="bien-etre-numerique.html">Numerique</a>
                          </li>
                          <li>
                              <a href="legos.html">Legos</a>
                          </li>
                          <li>
                              <a href="icons-animees.html">Icons</a>
                          </li>
                          <li>
                              <a href="jeux-video.html">Technology</a>
                          </li>
                          <li>
                              <a href="gamification.html">Games</a>
                          </li>
                          <li>
                              <a href="logo.html">Creation</a>
                          </li>
                          <li>
                              <a href="animation.html">Animation</a>
                          </li>
                          <li>
                              <a href="projets.html">Illustration</a>
                          </li>
                          <li>
                              <a href="gestalt.html">Gestalt</a>
                          </li>
                      </ul>
                  </aside>

                  <aside class="single_sidebar_widget instagram_feeds">
                      <h4 class="widget_title">Instagram</h4>
                      <ul class="instagram_row flex-wrap">
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_5.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_6.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_7.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_8.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_9.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_10.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                      </ul>
                  </aside>

                  <!-- Begin Mailchimp Signup Form -->
                  <aside class="single_sidebar_widget newsletter_widget">
                    <h4 class="widget_title">Newsletter</h4>
                    <div id="mc_embed_signup">
                      <form action="https://gmail.us1.list-manage.com/subscribe/post?u=e258f2c790beb560c7583457b&amp;id=5aa8caa585" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="form-group">
                          <div class="mc-field-group" id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL"></label>
                            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Introduire votre mail'" placeholder='Introduire votre mail'>
                          </div>
                        </div>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response"></div>
                          <div class="response" id="mce-success-response"></div>
                        </div>
                          <div class="clear">
                            <input type="submit" value="Souscrire" name="subscribe" id="mc-embedded-subscribe" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                          </div>
                        </form>
                      </div>
                    </div>
                  </aside>
                  <!--End mc_embed_signup-->
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


     <!-- footer start -->
     <footer class="footer">
         <div class="footer_top">
             <div class="container">
                 <div class="row align-items-center">
                     <div class="col-xl-6 col-md-6">
                         <div class="menu_links">
                             <ul>
                                 <li><a href="about.html">A propos</a></li>
                                 <li><a href="services.html">Services</a></li>
                                 <li><a href="portfolio.html">Portfolio</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-xl-6 col-md-6">
                         <div class="socail_links">
                             <ul>
                                 <li><a href="https://www.facebook.com/Halouma0000/"> <i class="fa fa-facebook"></i> </a></li>
                                 <li><a href="https://twitter.com/EssidAhlem"> <i class="fa fa-twitter"></i> </a></li>
                                 <li><a href="https://www.instagram.com/halouma_ea/"> <i class="fa fa-instagram"></i> </a></li>
                                 <li><a href="https://myaccount.google.com/"> <i class="fa fa-google-plus"></i> </a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="copy-right_text">
             <div class="container">
                 <div class="footer_border"></div>
                 <div class="row">
                     <div class="col-xl-12">
                         <p class="copy_right text-center">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | With <i class="fa fa-heart-o" aria-hidden="true"></i> by Essid Ahlem</a>

                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
     <!--/ footer end  -->


   <!-- JS here -->
   <script src="js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="js/vendor/jquery-1.12.4.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/isotope.pkgd.min.js"></script>
   <script src="js/ajax-form.js"></script>
   <script src="js/waypoints.min.js"></script>
   <script src="js/jquery.counterup.min.js"></script>
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <script src="js/scrollIt.js"></script>
   <script src="js/jquery.scrollUp.min.js"></script>
   <script src="js/wow.min.js"></script>
   <script src="js/nice-select.min.js"></script>
   <script src="js/jquery.slicknav.min.js"></script>
   <script src="js/jquery.magnific-popup.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/gijgo.min.js"></script>
   <script src="js/darkmode.js"></script>

   <!--contact js-->
   <script src="js/contact.js"></script>
   <script src="js/jquery.ajaxchimp.min.js"></script>
   <script src="js/jquery.form.js"></script>
   <script src="js/jquery.validate.min.js"></script>
   <script src="js/mail-script.js"></script>


   <script src="js/main.js"></script>
</body>

</html>
