<!doctype html>
<html class="no-js" lang="zxx">

<head>
   <meta charset="utf-8">
   <meta http-equiv="x-ua-compatible" content="ie=edge">
   <title>Portfolio | Essid Ahlem</title>
   <meta name="description" content="">
   <meta name="viewport" content="width=device-width, initial-scale=1">

   <!-- <link rel="manifest" href="site.webmanifest"> -->
   <!-- Place favicon.ico in the root directory -->

   <!-- CSS here -->
   <link rel="stylesheet" href="css/bootstrap.min.css">
   <link rel="stylesheet" href="css/owl.carousel.min.css">
   <link rel="stylesheet" href="css/magnific-popup.css">
   <link rel="stylesheet" href="css/font-awesome.min.css">
   <link rel="stylesheet" href="css/themify-icons.css">
   <link rel="stylesheet" href="css/nice-select.css">
   <link rel="stylesheet" href="css/flaticon.css">
   <link rel="stylesheet" href="css/gijgo.css">
   <link rel="stylesheet" href="css/animate.min.css">
   <link rel="stylesheet" href="css/slicknav.css">
   <link rel="stylesheet" href="css/style.css">
   <!-- <link rel="stylesheet" href="css/responsive.css"> -->
</head>

<body id="body" class="darkmode">
   <!--[if lte IE 9]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
        <![endif]-->
    <!-- header-start -->
    <header>
         <div class="header-area ">
             <div id="sticky-header" class="main-header-area">
                 <div class="container-fluid">
                     <div class="row align-items-center">
                         <div class="col-xl-3 col-lg-2">
                             <div class="logo">
                                 <a href="index.html">
                                     <img src="img/logo.png" alt="">
                                 </a>
                             </div>
                         </div>
                         <div class="col-xl-6 col-lg-7">
                             <div class="main-menu  d-none d-lg-block">
                                 <nav>
                                     <ul id="navigation">
                                         <li><a class="active" href="index.html">Accueil</a></li>
                                         <li><a href="about.html">A propos</a></li>
                                         <li><a href="services.html">Services</a></li>
                                         <li><a href="#">Blog <i class="ti-angle-down"></i></a>
                                             <ul class="submenu">
                                               <li><a href="blog.html">News</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="#">Pages <i class="ti-angle-down"></i></a>
                                             <ul class="submenu">
                                                <li><a href="portfolio.html">Portfolio</a></li>
                                                <li><a href="projets.html">Projets</a></li>
                                             </ul>
                                         </li>
                                         <li><a href="contact.html">Contact</a></li>
                                     </ul>
                                 </nav>
                             </div>
                         </div>
                         <!-- Language -->

                         <!-- <div class="default-select" id="default-select">
                           <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                 <select class="text-lang-color">
                                   <option value="1">Français</option>
                             <option value="2">Nederlands</option>
                             <option value="3">English</option>
                             <option value="4">العربية</option>
                             <option value="5">Spanish</option>
                             </select>
                               </div>
                           </div> -->
                           <!-- End Language -->
                           <!-- Switch-->
                          <div class="col-lg-3 col-md-4 mt-sm-30">
                           <div class="single-element-widget">
                             <div class="switch-wrap d-flex justify-content-between">
                               <div class="primary-radio">
                                 <input type="checkbox" id="default-radio" class="darkMode" checked >
                                 <label for="default-radio">
                                   <button type="button" name="light_dark" onclick="toggleLightDark()" title="Eclaicir mon champs de vision !" class="mode">
                                        <img src="img/svg_icon/torch.svg" width= 25px height= 25px alt="#" class="on">
                                   </button>
                                 </label>
                               </div>
                             </div>
                           </div>
                           <div>
                             <img src="img/svg_icon/arrow.png" alt="" class="arrow_left"><span class="click_here">Click here !</span></p>
                           </div>
                         </div>
                           <!--End Switch-->
                         <!--<div class="col-xl-3 col-lg-3 d-none d-lg-block">
                             <div class="Appointment">
                                 <div class="book_btn d-none d-lg-block">
                                     <a  href="#">Contact Me</a>
                                 </div>
                             </div>
                         </div> -->
                         <div class="col-12">
                             <div class="mobile_menu d-block d-lg-none"></div>
                         </div>
                     </div>

                 </div>
             </div>
         </div>
     </header>
     <!-- header-end -->

     <!-- bradcam_area  -->
     <div class="bradcam_area bradcam_bg_1">
         <div class="container">
             <div class="row">
                 <div class="col-xl-12">
                     <div class="bradcam_text text-center">
                         <h3>Duolingo</h3>
                     </div>
                 </div>
             </div>
         </div>
     </div>
     <!-- /bradcam_area  -->

   <!--================Blog Area =================-->
   <section class="blog_area single-post-area section-padding">
      <div class="container">
         <div class="row">
            <div class="col-lg-8 posts-list">
               <div class="single-post">
                  <div class="feature-img">
                     <img class="img-fluid" src="img/blog/single_blog_15.gif" alt="#">
                  </div>
                  <div class="blog_details">
                     <h2>Duolingo, une application éducative sous forme de ludification</h2>
                     <ul class="blog-info-link mt-3 mb-4">
                        <li><a href="duolingo.html"><i class="fa fa-user"></i>UX design, Gamification</a></li>
                        <!-- <li><a href="#"><i class="fa fa-comments"></i> 0 Commentaires</a></li> -->
                     </ul>
                     <p class="excert">
                       <i>Avez-vous déjà pensé à parler une nouvelle langue ?</i> <br>
                       <br>
                       Tout d'abord, rappelons que le terme gamification synonyme de ludification, est l'appelation d'une application du design de jeux dans un endroit autre qu’un jeu. Vous pouvez le définir en ajoutant des niveaux, de l'expérience, des points de santé ou d'autres caractéristiques liées aux jeux.  <br>
                       <br>
                       Duolingo fait certainement quelque chose de bien pour atteindre ces chiffres. Cependant, il a fallu des années pour commencer de belles choses. <br>
                       À partir de cette revue de Duolingo, je vais vous expliquer comment créer un design engageant dès la première venue. <br>
                       <br>
                     </p>
                     <div class="quote-wrapper">
                        <div class="quotes">
                          <p>
                          Duolingo a un design attrayant et ludique et une expérience d'intégration fluide. <br>
                          Vous pouvez choisir la langue que vous souhaitez apprendre, vous fixer un objectif au quotidien et commencer immédiatement à réaliser des exercices guidés et suivi notamment grâce aux notifications par mail.<br>
                          <p>
                        </div>
                     </div>
                     <p>
                       <i>Plus de récompenses pour être plus motivé !</i><br>
                       <br>
                        Les exercices sont courts, seulement 10 questions au début et ne devraient pas prendre plus de 2-3 minutes à compléter. <br>
                       <br>
                        Plusieurs mécanismes de jeux intégrés ajoutent des améliorations de motivation pour s'assurer que les nouveaux utilisateurs atteignent rapidement leurs premiers états gagnants. <br>
                       <br>
                         Pour les personnes déterminantes, la barre de progression indique à quel point vous êtes sur le point de terminer l'exercice. Chaque bonne réponse est récompensée par un encouragé par un effet sonore. <br>
                         Duolingo met en avant un Hibou s'animant tel un émoticône lorsque vous réussissez l'exercice. <br>
                         Entre les questions, Duo, la chouette mascotte, commentera à quel point vous êtes intelligent. Sa positivité ainsi que son entousiasme motivera d’autant plus les utilisateurs. <br>
                       <br>
                         En plus d'atteindre l'état gagnant récompense les gemmes de l'EXP, chaque exercice terminé s'ajoute à l'expansion de l'arbre de compétences qui suit la progression d'apprentissage de l'utilisateur. <br>
                         Cette arbre à pour but d'avoir un aperçu sur vos réussites et votre progression afin de continuer l'aventure. <br>
                       <br>
                       Vous souhaitez apprendre une nouvelle langue vous aussi ? Tentez l'aventure avec Duolingo ! N'attendez plus et téléchargez cette application !

                     </p>
                     <br>
                  </div>
               </div>
               <div class="navigation-top">
                  <div class="d-sm-flex justify-content-between text-center">
                     <p class="like-info"><span class="align-middle"><i class="fa fa-heart"></i></span> Lily and 4
                        people like this</p>
                     <div class="col-sm-4 text-center my-2 my-sm-0">
                        <!-- <p class="comment-count"><span class="align-middle"><i class="fa fa-comment"></i></span> 06 Comments</p> -->
                     </div>
                     <!-- <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                     </ul> -->
                  </div>
                  <div class="navigation-area">
                     <div class="row">
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                           <div class="thumb">
                              <a href="animation.html">
                                 <img class="img-fluid" src="img/post/button_bodymovin.png" alt="">
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="animation.html">
                                 <span class="lnr text-white ti-arrow-left"></span>
                              </a>
                           </div>
                           <div class="detials">
                              <p>Précédent</p>
                              <a href="animation.html">
                                 <h4>Loggie Bodymovin</h4>
                              </a>
                           </div>
                        </div>
                        <div
                           class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                           <div class="detials">
                              <p>Suivant</p>
                              <a href="legos.html">
                                 <h4>Psychologie de la forme</h4>
                              </a>
                           </div>
                           <div class="arrow">
                              <a href="legos.html">
                                 <span class="lnr text-white ti-arrow-right"></span>
                              </a>
                           </div>
                           <div class="thumb">
                              <a href="legos.html">
                                 <img class="img-fluid" src="img/post/button_simpsons.png" alt="">
                              </a>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="blog-author">
                  <div class="media align-items-center">
                     <img src="img/blog/author_9.png" alt="#">
                     <div class="media-body">
                        <a href="#">
                           <h4>Essid Ahlem</h4>
                        </a>

                     </div>
                  </div>
               </div>
               <!-- <div class="comments-area">
                  <h4>0 Commentaires</h4>
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_1.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_2.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div> -->
                  <!-- <div class="comment-list">
                     <div class="single-comment justify-content-between d-flex">
                        <div class="user justify-content-between d-flex">
                           <div class="thumb">
                              <img src="img/comment/comment_3.png" alt="">
                           </div>
                           <div class="desc">
                              <p class="comment">
                                 Multiply sea night grass fourth day sea lesser rule open subdue female fill which them
                                 Blessed, give fill lesser bearing multiply sea night grass fourth day sea lesser
                              </p>
                              <div class="d-flex justify-content-between">
                                 <div class="d-flex align-items-center">
                                    <h5>
                                       <a href="#">Emilly Blunt</a>
                                    </h5>
                                    <p class="date">December 4, 2017 at 3:12 pm </p>
                                 </div>
                                 <div class="reply-btn">
                                    <a href="#" class="btn-reply text-uppercase">Répondre</a>
                                 </div>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div> -->
               <!-- <div class="comment-form">
                  <h4>Vous souhaitez commenter ? Exprimez-vous !</h4>
                  <form class="form-contact comment_form" action="#" id="commentForm">
                     <div class="row">
                        <div class="col-12">
                           <div class="form-group">
                              <textarea class="form-control w-100" name="comment" id="comment" cols="30" rows="9"
                                 placeholder="Ecrire un commentaire"></textarea>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="name" id="name" type="text" placeholder="Nom">
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input class="form-control" name="email" id="email" type="email" placeholder="Email">
                           </div>
                        </div>
                         <div class="col-12">
                           <div class="form-group">
                              <input class="form-control" name="website" id="website" type="text" placeholder="Site web">
                           </div>
                        </div>
                     </div>
                     <div class="form-group">
                        <button type="submit" class="button button-contactForm btn_1 boxed-btn">Envoyer</button>
                     </div>
                  </form>
               </div> -->
            </div>

            <div class="col-lg-4">
               <div class="blog_right_sidebar">
                  <!-- <aside class="single_sidebar_widget search_widget">
                     <form action="#">
                        <div class="form-group">
                           <div class="input-group mb-3">
                              <input type="text" class="form-control" placeholder='Rechercher un mot clé'
                                 onfocus="this.placeholder = ''" onblur="this.placeholder = 'Rechercher un mot clé'">
                              <div class="input-group-append">
                                 <button class="btn" type="button"><i class="ti-search"></i></button>
                              </div>
                           </div>
                        </div>
                        <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                           type="submit">Rechercher</button>
                     </form>
                  </aside> -->

                  <!-- Categories -->

                  <aside class="single_sidebar_widget post_category_widget">
                      <h4 class="widget_title">Categories</h4>
                      <ul class="list cat-list">
                          <li>
                              <a href="blog.html" class="d-flex">
                                  <p>Psychologie</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="logo.html" class="d-flex">
                                  <p>UI Design</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="blog_1.html" class="d-flex">
                                  <p>UX Design</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="animation.html" class="d-flex">
                                  <p>Animation</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="jeux-video.html" class="d-flex">
                                  <p>Technologie</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="gazelle_lumineuse.html" class="d-flex">
                                  <p>Photoshop</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="todzilla.html" class="d-flex">
                                  <p>Illustrator</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="xabia.html" class="d-flex">
                                  <p>Adobe XD</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="piccolo.html" class="d-flex">
                                  <p>HTML</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="framework_css.html" class="d-flex">
                                  <p>CSS</p>
                                  <p></p>
                              </a>
                          </li>
                          <li>
                              <a href="ajax.html" class="d-flex">
                                  <p>Vanilla JS</p>
                                  <p></p>
                              </a>
                          </li>
                      </ul>
                  </aside>

                  <!-- Posts  -->

                  <aside class="single_sidebar_widget popular_post_widget">
                     <h3 class="widget_title">Posts Récents</h3>
                     <div class="media post_item">
                        <img src="img/post/post_14.png" alt="post">
                        <div class="media-body">
                           <a href="tigre.html">
                              <h3>Tigre</h3>
                           </a>
                           <p>Janvier 15, 2021</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_13.png" alt="post">
                        <div class="media-body">
                           <a href="gazelle_lumineuse.html">
                              <h3>Gazelle lumineuse</h3>
                           </a>
                           <p>Décembre 22, 2020</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_1.png" alt="post">
                        <div class="media-body">
                           <a href="bien-etre-numerique.html">
                              <h3>Conception éthique</h3>
                           </a>
                           <p>Décembre 16, 2020</p>
                        </div>
                     </div>
                     <div class="media post_item">
                        <img src="img/post/post_2.png" alt="post">
                        <div class="media-body">
                           <a href="selfies.html">
                              <h3>Les filtres et selfies</h3>
                           </a>
                           <p>Octobre 1, 2020</p>
                        </div>
                     </div>
                  </aside>

                  <!-- Tags -->

                  <aside class="single_sidebar_widget tag_cloud_widget">
                      <h4 class="widget_title">Tags</h4>
                      <ul class="list">
                          <li>
                              <a href="conception.html">Visual</a>
                          </li>
                          <li>
                              <a href="selfies.html">Selfies</a>
                          </li>
                          <li>
                              <a href="bien-etre-numerique.html">Numerique</a>
                          </li>
                          <li>
                              <a href="legos.html">Legos</a>
                          </li>
                          <li>
                              <a href="icons-animees.html">Icons</a>
                          </li>
                          <li>
                              <a href="jeux-video.html">Technology</a>
                          </li>
                          <li>
                              <a href="gamification.html">Games</a>
                          </li>
                          <li>
                              <a href="logo.html">Creation</a>
                          </li>
                          <li>
                              <a href="animation.html">Animation</a>
                          </li>
                          <li>
                              <a href="projets.html">Illustration</a>
                          </li>
                          <li>
                              <a href="gestalt.html">Gestalt</a>
                          </li>
                      </ul>
                  </aside>

                  <aside class="single_sidebar_widget instagram_feeds">
                      <h4 class="widget_title">Instagram</h4>
                      <ul class="instagram_row flex-wrap">
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_5.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_6.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_7.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_8.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_9.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                          <li>
                              <a href="https://www.instagram.com/halouma_ea/">
                                  <img class="img-fluid" src="img/post/post_10.png" alt="https://www.instagram.com/halouma_ea/">
                              </a>
                          </li>
                      </ul>
                  </aside>

                  <!-- Begin Mailchimp Signup Form -->
                  <aside class="single_sidebar_widget newsletter_widget">
                    <h4 class="widget_title">Newsletter</h4>
                    <div id="mc_embed_signup">
                      <form action="https://gmail.us1.list-manage.com/subscribe/post?u=e258f2c790beb560c7583457b&amp;id=5aa8caa585" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                        <div class="form-group">
                          <div class="mc-field-group" id="mc_embed_signup_scroll">
                            <label for="mce-EMAIL"></label>
                            <input type="email" value="" name="EMAIL" class="form-control" id="mce-EMAIL" onfocus="this.placeholder = ''"
                                onblur="this.placeholder = 'Introduire votre mail'" placeholder='Introduire votre mail'>
                          </div>
                        </div>
                        <div id="mce-responses" class="clear">
                          <div class="response" id="mce-error-response"></div>
                          <div class="response" id="mce-success-response"></div>
                        </div>
                          <div class="clear">
                            <input type="submit" value="Souscrire" name="subscribe" id="mc-embedded-subscribe" class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn">
                          </div>
                        </form>
                      </div>
                    </div>
                  </aside>
                  <!--End mc_embed_signup-->
               </div>
            </div>
         </div>
      </div>
   </section>
   <!--================ Blog Area end =================-->


     <!-- footer start -->
     <footer class="footer">
         <div class="footer_top">
             <div class="container">
                 <div class="row align-items-center">
                     <div class="col-xl-6 col-md-6">
                         <div class="menu_links">
                             <ul>
                                 <li><a href="about.html">A propos</a></li>
                                 <li><a href="services.html">Services</a></li>
                                 <li><a href="portfolio.html">Portfolio</a></li>
                             </ul>
                         </div>
                     </div>
                     <div class="col-xl-6 col-md-6">
                         <div class="socail_links">
                             <ul>
                                 <li><a href="https://www.facebook.com/Halouma0000/"> <i class="fa fa-facebook"></i> </a></li>
                                 <li><a href="https://twitter.com/EssidAhlem"> <i class="fa fa-twitter"></i> </a></li>
                                 <li><a href="https://www.instagram.com/halouma_ea/"> <i class="fa fa-instagram"></i> </a></li>
                                 <li><a href="https://myaccount.google.com/"> <i class="fa fa-google-plus"></i> </a></li>
                             </ul>
                         </div>
                     </div>
                 </div>
             </div>
         </div>
         <div class="copy-right_text">
             <div class="container">
                 <div class="footer_border"></div>
                 <div class="row">
                     <div class="col-xl-12">
                         <p class="copy_right text-center">

Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | With <i class="fa fa-heart-o" aria-hidden="true"></i> by Essid Ahlem</a>

                         </p>
                     </div>
                 </div>
             </div>
         </div>
     </footer>
     <!--/ footer end  -->


   <!-- JS here -->
   <script src="js/vendor/modernizr-3.5.0.min.js"></script>
   <script src="js/vendor/jquery-1.12.4.min.js"></script>
   <script src="js/popper.min.js"></script>
   <script src="js/bootstrap.min.js"></script>
   <script src="js/owl.carousel.min.js"></script>
   <script src="js/isotope.pkgd.min.js"></script>
   <script src="js/ajax-form.js"></script>
   <script src="js/waypoints.min.js"></script>
   <script src="js/jquery.counterup.min.js"></script>
   <script src="js/imagesloaded.pkgd.min.js"></script>
   <script src="js/scrollIt.js"></script>
   <script src="js/jquery.scrollUp.min.js"></script>
   <script src="js/wow.min.js"></script>
   <script src="js/nice-select.min.js"></script>
   <script src="js/jquery.slicknav.min.js"></script>
   <script src="js/jquery.magnific-popup.min.js"></script>
   <script src="js/plugins.js"></script>
   <script src="js/gijgo.min.js"></script>
   <script src="js/darkmode.js"></script>

   <!--contact js-->
   <script src="js/contact.js"></script>
   <script src="js/jquery.ajaxchimp.min.js"></script>
   <script src="js/jquery.form.js"></script>
   <script src="js/jquery.validate.min.js"></script>
   <script src="js/mail-script.js"></script>

   <script src="js/main.js"></script>
</body>

</html>
